# Node modules
node_modules/

# Build output
dist/
build/
whatsapp-desktop.AppDir/

# Log files
*.log

# Environment variables
.env

# Temporary files
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
npm-debug.log*
yarn-debug.log*
yarn-error.log*
